* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  transition: 500ms ease;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--bg-primary);
  color: var(--color-text);
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.main {
  // width: 90rem; // 1440px
  width: 100%;
  max-width: 75rem; // 1200px
}
  
.nav {
  // max-width: 90rem; // 1440px
  max-width: 75rem; // 1440px
  width: 100%;
  color: var(--primary-color);
  &__container {
    position: relative;
    margin: 0 auto;
  }
  &__menu {
    padding: 2rem 0;
  }
  &__links {
    @include flex(row, flex-end, center);
  }
  &__menu-toggle {
    position: absolute;
    left: 1.2rem;
    cursor: pointer;
    &:hover {
      color: pink;
    }
    &.active {
      color: pink;
    }
  }
  &__link-item {
    list-style-type: none;
    margin: 0 2.375rem 0 0;
    cursor: pointer;
    transition: 500ms ease-in-out;
    font-weight: 600;
    font-size: 1.22rem;
    &.horizontal {
      display: none;
    }
    .palette {
      color: var(--primary-color);
      svg {
        padding: 3px 0 0 0;
        font-size: 22px;
      }
    }
    button {
      cursor: pointer;
      border-radius: 50px;
      padding: 0.375rem 1.275rem;
      font-weight: 600;
      color: var(--bg-primary);
      background: linear-gradient(35deg, var(--secondary-color), var(--primary-color));
      border: none;
    }
    &:hover {
      color: var(--color-text-hover);
    }
  }
  &__slide-menu {
    width: min-content;
    font-weight: 600;
    font-size: 1.22rem;
    padding: 1.45rem 2.125rem 1rem;
    text-align: center;
    border-radius: 4px;
    background-color: var(--color-navbar-a);
    z-index: 200;
  }
  &__slide-link-item {
    list-style-type: none;
    padding: 0.425rem 0;
  }
}

.spring-in-menu {
  position: absolute;
  left: 1.725rem;
  top: 5.125rem;
  z-index: 200;
}

.spring-in {
  position: absolute;
  right: 0;
  top: 100px;
  z-index: 500;
}

.palette {
  z-index: 600;
  cursor: pointer;
  &__item {
    padding: 6px 4px;
  }

  &__theme-select {
    margin: 4px 0 0 0;
    display: flex;
    &.active {
      color: var(--color-navbar-active);
    }
  }

  &__theme-container {
    @include flex(column, center, center);
    border-radius: 4px;
    background-color: var(--color-navbar-a);
    max-width: 300px;
    width: max-content;
    padding: 10px;
  }

  &__circle {
    border-radius: 50%;
    height: 25px;
    width: 25px;
    background-color: aqua;
    cursor: pointer;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor */
    &.light {
      background: linear-gradient(35deg, var(--secondary-color), var(--primary-color));
      background-size: auto;
      background-position: 0% 0%;
      background-repeat: repeat;
      background-color: rgba(0, 0, 0, 0);
    }
    &.sky {
      background: linear-gradient(35deg, var(--secondary-color), var(--primary-color));
      background-size: auto;
      background-position: 0% 0%;
      background-repeat: repeat;
      background-color: rgba(0, 0, 0, 0);
    }
    &.dark {
      background: linear-gradient(35deg, var(--secondary-color), var(--primary-color));
      background-size: auto;
      background-position: 0% 0%;
      background-repeat: repeat;
      background-color: rgba(0, 0, 0, 0);
    }
    &.midnight {
      background: linear-gradient(35deg, var(--secondary-color), var(--primary-color));
      background-size: auto;
      background-position: 0% 0%;
      background-repeat: repeat;
      background-color: rgba(0, 0, 0, 0);
    }
  }
}

.decor {
  height: 100%;
  width: 100%;
  &__slice {
    @include flex(row, center, center);
    width: 50%;
    height: 100%;
    transition: 500ms ease;
  }
  &__group--01 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 500ms ease;
  }
  &__item--01 {
    background: none;
    height: fit-content;
    width: 15rem;
    transform: rotate(-90deg);
    position: absolute;
    transition: 500ms ease;
    top: 46.6%;
    right: -21%;
    z-index: 0;
  }
  &__blob--01 {
    height: 0%;
    width: 0%;
    top: -6%;
    right: 4%;
    width: 0%;
    position: absolute;
    z-index: 0;
    visibility: hidden;
    transition: 500ms ease;
    display: none;
  }
  &__svg-computer {
    height: 0%;
    width: 0%;
    max-width: 500px;
    position: relative;
    visibility: hidden;
    z-index: 0;
  }
}

.hero {
  @include flex(column, space-between, center);
  position: relative;
  width: 100%;
  height: calc(100vh - 94px);
  padding: 0 1rem 0;
  &__jumbo-text {
    font-size: 2.435rem;
    line-height: 1.02;
    align-self: baseline;
    max-width: 31rem;
    padding: 1rem 0 0 0;
    z-index: 100;
  }
  // ORIGINAL
  // &__img-container {
  //   border-radius: 50%;
  //   height: 180px;
  //   width: 180px;
  //   align-self: flex-end;
  //   position: absolute;
  //   top: 43%;
  //   right: 8%;
  //   transition: 700ms ease;
  //   span {
  //     @include flex(row, center, center);
  //     height: 100%;
  //     width: 100%;
  //   }
  // }
  &__img-container {
    border-radius: 50%;
    height: 180px;
    width: 180px;
    align-self: flex-end;
    position: absolute;
    top: 43%;
    right: 8%;
    overflow: hidden;
    transition: 700ms ease;
    span {
      @include flex(row, center, center);
      height: 100%;
      width: 100%;
    }
  }
  &__img {
    border-radius: 50%;
  }
  &__name {
    width: 100%;
    font-size: 4.42rem;
    font-size: 2.42rem;
    text-align: end;
    z-index: 100;
    text-align: start;
  }
  &__buffer {
    padding: 1rem 0;
    width: 100%;
  }
  &__circle--01 {
    position: absolute;
    right: 20%;
    top: 29%;
    opacity: 0.8;
    height: 156px;
    width: 156px;
    transform: rotate(39deg);
  }
  &__circle--02 {
    position: absolute;
    right: 22%;
    top: 39%;
    opacity: 1;
    height: 156px;
    width: 156px;
    transform: rotate(39deg);
  }
}

.theme {
  &__primary-color {
    stop-color: var(--primary-color);
    stop-opacity: 1;
  }
  
  &__secondary-color {
    stop-color: var(--secondary-color);
    stop-opacity: 1;
  }
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "subject email"
    "text text"
    "ctrl ctrl";
  &__group {
    margin: 0rem 0 0.525rem 0;
    position: relative;
    display: inline-block;
    overflow: hidden;
    > input {
      border: none;
      outline: none;
    }
    .underline {
      transition: all 0.5s;
      display: inline-block;
      bottom: 0;
      left: -100%;
      position: absolute;
      width: 100%;
      height: 6px;
      background: linear-gradient(35deg, var(--secondary-color), var(--primary-color));
      border: none;
    }
  }
  &__group > input:focus + .underline {
    left: 0;
  }
  &__input {
    padding: 1.275rem;
    background-color: rgba(0, 0, 0, 0.3); //TODO set var()
    width: 100%;
    border: none;
    box-shadow: none;
    color: var(--color-text);
    border-radius: 6px;
  }
  &__textarea {
    padding: 1.275rem;
    background-color: rgba(0, 0, 0, 0.3); //TODO set var()
    height: 7.775rem;
    width: 100%;
    border: none;
    resize: none;
    color: var(--color-text);
    border-radius: 6px;
    outline: none;
    font: inherit;
  }
  .name {
    grid-area: name;
  }
  .email {
    margin-left: 0.2625rem;
    grid-area: email;
    margin-right: 0;
  }
  .subject {
    margin-right: 0.2625rem;
    grid-area: subject;
  }
  .text {
    grid-area: text;
    margin-right: 0;
  }
  &__ctrl {
    @include flex(column, space-between, center);
    margin: 0.525rem 0 0.525rem 0;
    grid-area: ctrl;
  }
  &__recaptcha {
    height: 6.725rem;
    .recaptcha {
      width: 100%;
    }
  }
  &__form-submit {
    .submit-btn {
      cursor: pointer;
      font-weight: 600;
      color: var(--bg-primary);
      padding: 0.375rem 1.275rem;
      border-radius: 50px;
      background: linear-gradient(35deg, var(--secondary-color), var(--primary-color));
      border: none;
    }
  }
}

.footer {
  width: 90%;
  margin: 0 auto;
  &__container {
    @include flex(column, space-between, center);
    padding: 0 0 4.475rem 0;
  }
  &__contact {
    align-self: baseline;
    flex-grow: 1;
    h3 {
      text-align: start;
    }
  }
  &__form {
    padding: 1.115rem 0 0 0;
    flex-grow: 2;
  }
  &__copyright {
    text-align: center;
    padding: 0 0 2.125rem 0;
    h5 {
      font-weight: 600;
    }
  }
  &__attr {
    font-size: 0.75rem;
  }
}

@media (min-width: 234px) {
  .decor {
    &__item--01 {
      right: -21%;
    }
  }
}

@media (min-width: 250px) {
  .decor {
    &__item--01 {
      right: -20%;
      top: 42.6%;
    }
  }
  .hero {
    &__img-container {
      top: 39%;
      right: 13%;
    }
  }
}

@media (min-width: 286px) {
  .nav {
    &__menu-toggle {
      left: 1.725rem;
    }
  }
  .decor {
    &__item--01 {
      top: 41.8%;
      right: -18%;
    }
  }
  .hero {
    &__img-container {
      top: 38%;
      right: 11%;
    }
  }
}

@media (min-width: 300px) {
  .main {
    width: 90%;
    margin: 0 auto;
  }
  .decor {
    &__item--01 {
      right: -21%;
    }
  }
  .hero {
    padding: 0;
  }
}

@media (min-width: 320px) {
  .decor {
    &__item--01 {
      right: -23%;
    }
  }
  .hero {
    &__img-container {
      right: 6%;
    }
  }
}

@media (min-width: 340px) {
  .decor {
    &__item--01 {
      right: -21%;
    }
  }
}

@media (min-width: 374px) {
  .decor {
    &__item--01 {
      right: -19%;
    }
  }
}

@media (min-width: 400px) {
  .decor {
    &__item--01 {
      right: -15%;
    }
  }
  .hero {
    &__img-container {
      right: 10%;
    }
  }
}

@media (min-width: 420px) {
  .decor {
    &__item--01 {
      right: -13%;
    }
  }
  .form {
    &__ctrl {
      @include flex(row, space-between, flex-start);
    }
  }
}

@media (min-width: 442px) {
  .decor {
    &__item--01 {
      right: -11%;
    }
  }
}

@media (min-width: 454px) {
  .decor {
    &__item--01 {
      right: -11%;
    }
  }
}

@media (min-width: 480px) {
  .decor {
    &__item--01 {
      right: -10%;
    }
  }
}

@media (min-width: 502px) {
  .hero {
    &__blob--01 {
      top: 28px;
    }
  }
}

// **** NAV MENU
@media (min-width: 520px) {
  .nav {
    &__link-item {
      &.horizontal {
        display: flex;
      }
    }
    &__menu-toggle {
      display: none;
    }
    &__slide-menu {
      display: none;
    }
    &__slide-link-item {
      display: none;
    }
  }
}

@media (min-height: 540px) and (min-width: 504px) {
  .decor {
    &__svg-computer {
      height: min-content;
      width: 66%;
      visibility: visible;
    }
  }
}

@media (min-width: 542px) {
  .decor {
    &__item--01 {
      right: -08%;
    }
    &__blob--01 {
      top: 25%;
      width: 47%;
    }
  }
}


@media (min-height: 580px) {
  .decor {
    &__svg-computer {
      width: 74%;
    }
  }
}

@media (min-width: 584px) {
  .decor {
    &__item--01 {
      right: -07%;
    }
  }
}

@media (min-height: 590px) {
  .hero {
    &__name {
      text-align: end;
    }
  }
}

@media (min-width: 604px) {
  .decor {
    &__slice {
      margin: 0 0 0 6%;
    }
    &__group--01 {
      height: 33vh;
    }
    &__item--01 {
      right: -06%;
    }
    &__blob--01 {
      width: 53%;
    }
  }
}

@media (min-height: 690px) {
  .decor {
    &__svg-computer {
      width: 90%;
    }
  }
}

@media (min-width: 700px) {
  .decor {
    &__slice {
      margin: 0 0 0 04%;
    }
    &__item--01 {
      right: -03%;
    }
  }
}

@media (min-width: 740px) {
  .footer {
    &__container {
      @include flex(row, space-between, center);
    }
    &__form {
      max-width: 440px;
      padding: 0;
    }
  }
};

@media (min-width: 800px) {
  .decor {
    &__item--01 {
      right: -02%;
    }
    &__blob--01 {
      top: 09%;
      max-width: 400px;
    }
  }
}
  
@media (min-width: 900px) {
  .decor {
    &__item--01 {
      right: -01%;
    }
  }
  .hero {
    &__circle--01 {
      right: 17%;
    }
    &__circle--02 {
      right: 18%;
    }
  }
}

@media (min-width: 1000px) {
  .decor {
    &__item--01 {
      right: 0.6%;
    }
    &__blob--01 {
      top: 13%;
      left: 11%;
    }
  }
}

@media (min-width: 1100px) {
  .decor {
    &__item--01 {
      right: 1%;
    }
  }
  .hero {
    &__img-container {
      right: 10%;
    }
  }
}

@media (min-width: 1200px) {
  .decor {
    &__item--01 {
      right: 2%;
    }
  }
}

@media (min-width: 1300px) {
  .decor {
    &__item--01 {
      right: 3%;
    }
  }
}

@media (min-width: 1400px) {
  .decor {
    &__item--01 {
      right: 3%;
    }
  }
}