.skills {
  padding: 4.2rem 0 3.6rem 0;
  &__content {
    padding: 2.375rem 0 0 0;
  }
  &__content:first-child {
    padding: 0;
  }
  &__header:first-child {
    padding: 2rem 1rem 0;
  }
  &__header {
    padding: 0 1rem 0;
  }
  &__desc {
    text-align: start;
    padding: 1rem 1rem 1.115rem;
  }
  &__desc:first-child {
    margin: 0;
  }
  &__icon-container {
    // @include grid(repeat(2, 100px), 2, center, center); // ---
    @include grid(repeat(2, 128px), 2, space-around, center);
    row-gap: 2.75rem;
    column-gap: 0.2rem;
  }
  &__icon-box {
    justify-self: center; // ---
    width: 7.88rem;
    padding: 1rem 1rem;
    background-color: var(--skill-icon-box-a);
    border: 2px solid var(--skill-icon-box-border-a);
    border-radius: 12px;
    svg {
      margin: 0 auto;
      width: 100%;
    }
    &.contact-icons {
      border: unset;
      border-radius: unset;
      width: unset;
      padding: unset;
      background-color: unset;
    }
  }
  &__icon-name-bg {
    // background-color: rgba(0,0,0,0.35);
    background-color: var(--icon-name-a);
    padding: 0.25rem 0.5rem;
    border-radius: 10px;
    margin: 0.75rem 0 0 0;
    text-align: center;
  }
}

@media (min-width: 260px) {
  .skills {
    &__icon-container {
      column-gap: 0.5rem;
    }
    &__icon-box {
      width: 8rem;
    }
  }
}

@media (min-width: 300px) {
  .skills {
    &__header:first-child {
      padding: initial;
    }
    &__header {
      padding: initial;
    }
    &__desc {
      padding: 1rem 0 2.115rem;
    }
    &__icon-container {
      column-gap: 1rem;
    }
  }
}

// @media (min-width: 334px) {
@media (min-width: 420px) {
  .skills {
    &__icon-container {
      @include grid(repeat(3, 1fr), 2, space-around, center);
      column-gap: 0.5rem;
    }
  }
};

@media (min-width: 460px) {
  .skills {
    &__icon-container {
      @include grid(repeat(3, 1fr), 2, space-around, center);
      column-gap: 1rem;
    }
  }
};

// @media (min-width: 536px) {
@media (min-width: 620px) {
  .skills {
    &__icon-container {
      @include grid(repeat(4, 1fr), 2, center, center);
    }
  }
};

// @media (min-width: 656px) {
@media (min-width: 780px) {
  .skills {
    &__icon-container {
      // @include grid(repeat(5, 100px), 2, center, center);
      @include grid(repeat(5, 1fr), 2, center, center);
    }
  }
};