.skills {
  padding: 4.2rem 0 3.6rem 0;
  &__content {
    padding: 2.375rem 0 0 0;
  }
  &__content:first-child {
    padding: 0;
  }
  &__header:first-child {
    padding: 2rem 1rem 0;
  }
  &__header {
    padding: 0 1rem 0;
  }
  &__desc {
    text-align: start;
    padding: 1rem 1rem 1.115rem;
  }
  &__desc:first-child {
    margin: 0;
  }
  &__icon-container {
    @include grid(repeat(2, 100px), 2, center, center);
    row-gap: 2.75rem;
  }
  &__icon-box {
    justify-self: center;
    svg {
      margin: 0 auto;
      width: 100%;
    }
  }
  &__icon-name-bg {
    background-color: rgba(0,0,0,0.35);
    padding: 0.25rem 0.5rem;
    border-radius: 10px;
    margin: 0.75rem 0 0 0;
  }
}

@media (min-width: 300px) {
  .skills {
    &__header:first-child {
      padding: initial;
    }
    &__header {
      padding: initial;
    }
    &__desc {
      padding: 1rem 0 2.115rem;
    }
  }
}

@media (min-width: 334px) {
  .skills {
    &__icon-container {
      @include grid(repeat(3, 100px), 2, center, center);
      row-gap: 2.75rem;
    }
  }
};

@media (min-width: 536px) {
  .skills {
    &__icon-container {
      @include grid(repeat(4, 100px), 2, center, center);
      row-gap: 2.75rem;
    }
  }
};

@media (min-width: 656px) {
  .skills {
    &__icon-container {
      @include grid(repeat(5, 100px), 2, center, center);
      row-gap: 2.75rem;
    }
  }
};