// :root.light {
.theme-light {
  // navbar, links
  --color-logo: rgb(245, 238, 238);
  --color-icon: rgb(67, 67, 67);
  --color-text: rgb(67, 67, 67);
  --color-text-hover: rgb(67, 67, 67);
  --color-link: rgb(80, 102, 144);
  --color-navbar-text: rgb(67, 67, 67);
  --color-navbar: rgb(197, 197, 214);
  --color-navbar-a: rgba(211, 214, 222, 1);

  // Buttons
  --primary-btn-bg: rgb(22, 28, 45);
  --secondary-btn-bg: #c56a2d;
  --tetiary-btn-bg: #2b50c7;
  --color-btn-text: rgb(245, 238, 238);
  --color-btn-text-hover: rgb(175, 150, 250);
  --color-btn-hover: rgb(255, 249, 249);

  // Primary Backgrounds
  --primary-color: rgb(234, 51, 51);
  --secondary-color: rgb(234, 176, 51);
  --primary-color-a: rgba(51, 94, 234, 0.8);
  --primary-color-a-6: rgba(51, 94, 234, 0.6);
  --primary-color-a-4: rgba(51, 94, 234, 0.4);
  --primary-color-a-2: rgba(51, 94, 234, 0.2);
  --bg-primary: rgb(222, 225, 238);
  --bg-secondary: rgba(231, 231, 231, 0.259);
  --bg-quatenary: rgb(255, 255, 255);
  --bg-panel: rgb(197, 197, 214);
  // --bg-linear-gradient: linear-gradient(--secondary-color, --primary-color);
}

.theme-dark {
  // navbar, links
  --color-logo: rgb(245, 238, 238);
  --color-icon: rgb(181, 181, 181);
  --color-text: rgb(181, 181, 181);
  --color-text-hover: rgb(181, 181, 181);
  --color-link: rgb(80, 102, 144);
  --color-navbar-text: rgb(181, 181, 181);
  --color-navbar: rgb(67, 67, 67);
  --color-navbar-a: rgba(51, 51, 51, 1);

  // Buttons
  --primary-btn-bg: rgb(22, 28, 45);
  --secondary-btn-bg: #c56a2d;
  --tetiary-btn-bg: #2b50c7;
  --color-btn-text: rgb(245, 238, 238);
  --color-btn-text-hover: rgb(175, 150, 250);
  --color-btn-hover: rgb(255, 249, 249);

  // Primary Backgrounds
  --primary-color: rgb(161, 51, 234);
  --secondary-color: rgb(51, 94, 234);
  --primary-color-a: rgba(161, 51, 234, 0.8);
  --primary-color-a-6: rgba(161, 51, 234, 0.6);
  --primary-color-a-4: rgba(161, 51, 234, 0.4);
  --primary-color-a-2: rgba(161, 51, 234, 0.2);
  --secondary-color-a: rgba(51, 94, 234, 0.8);
  --secondary-color-a-6: rgba(51, 94, 234, 0.6);
  --secondary-color-a-4: rgba(51, 94, 234, 0.4);
  --sedcondary-color-a-2: rgba(51, 94, 234, 0.2);
  // --bg-primary: rgb(51, 51, 51);
  --bg-primary: rgb(3, 39, 70);
  --bg-secondary: rgba(231, 231, 231, 0.259);
  --bg-quatenary: rgb(255, 255, 255);
  --bg-panel: rgb(67, 67, 67);
  // --bg-linear-gradient: linear-gradient(--secondary-color, --primary-color);
}